#company_name {
    color:rgb(44, 63, 38)
}


#navigation .nav-link {
    color: rgb(44, 63, 38);
}

#navigation .nav-link:hover {
    color: rgb(14, 46, 17);
}


body {
    background-color: darkgray;
}

footer #copyright {
     color: rgb(44, 63, 38) !important;
}

footer .nav-link {
    color: rgb(44, 63, 38) !important;
}

footer .nav-link:hover {
    color: rgb(14, 46, 17) !important;
}