html:lang(ar) {
    direction: rtl;
    text-align: right;
}

html:lang(de) {
    direction: ltr;
    text-align: left;
}


#company_name {
    color:rgb(44, 63, 38)
}


#navigation .nav-link {
    color: rgb(44, 63, 38);
}

#navigation .nav-link:hover {
    color: rgb(14, 46, 17);
}


body {
    background-color: rgb(255, 255, 255);
}

footer #copyright {
     color: rgb(44, 63, 38) !important;
}

footer .nav-link {
    color: rgb(44, 63, 38) !important;
}

footer .nav-link:hover {
    color: rgb(14, 46, 17) !important;
}

.zitate {
    font-size: 1.3rem;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    color: rgb(14, 46, 17);
}

.Vorstellung {
    font-size: 1.0rem;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
    color: rgb(14, 46, 17);
}

#Impressum {
    font-size: xx-large;
    color: rgb(14, 46, 17);
}

.impressum-page .row .break{
   line-height: 0.5; 
   
   
}

.impressum-page .row {
    margin-top: 50px;
}

.impressum-page .row h3 {
    margin-bottom: 50px;
}
@media screen {

    
}